<div class="bg-gray-100 py-5">
    <h1 class="ml-72 text-5xl mt-6 mb-3 font-extrabold text-gray-800">My Learning</h1>
    <nav class="p-4 flex items-center w-6/12 mx-auto">
        <ul class="flex space-x-4">
            <li><a href="/course" class="hover:text-blue-600 font-bold text-gray-800">Courses</a></li>
            <li><a href="/assignment" class="hover:text-blue-600 font-bold text-gray-800">Assignments</a></li>
            <li><a href="#" class="hover:text-blue-600 font-bold text-gray-800">My List</a></li>
        </ul>
    </nav>
</div>