<div class="bg-gray-400 py-5">
    <h1 class="ml-72 text-5xl mt-6 mb-3  font-extrabold">My Learning</h1>
    <nav class="p-4  flex items-center w-6/12 mx-auto">
        <ul class="flex space-x-4">
            <li><a href="/course" class="hover:text-gray-300  font-bold">Courses</a></li>
            <li><a href="/assignment" class="hover:text-gray-300  font-bold">Assignments</a></li>
            <li><a href="#" class="hover:text-gray-300  font-bold">My List</a></li>
        </ul>
    </nav>
</div>