<app-instrnavbar></app-instrnavbar><br>
<div class="flex justify-center items-center h-screen">
    <div class="w-6/12 mx-auto bg-white p-8 shadow-md rounded-md hover:shadow-lg">
        <h2 class="text-2xl font-bold mb-4 text-center">Create Course</h2>
        <form [formGroup]="course" (ngSubmit)="OnSubmit()">
            <div class="mb-4">
                <label for="title" class="block text-gray-700 font-bold mb-2">Title:</label>
                <input type="text" id="title"
                    class="w-full border rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-400"
                    placeholder="Enter Title" formControlName="title" />
            </div>

            <div class="mb-4">
                <label for="description" class="block text-gray-700 font-bold mb-2">Description:</label>
                <textarea id="description"
                    class="w-full border rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-400"
                    rows="4" placeholder="Enter Description" formControlName="description"></textarea>
            </div>

            <div class="mb-6">
                <label for="image" class="block text-gray-700 font-bold mb-2">Image:</label>
                <input type="text" id="image"
                    class="w-full border rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-400"
                    formControlName="image" />
            </div>

            <button type="submit"
                class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md transition duration-300">
                Submit
            </button>
        </form>
    </div>
</div>