<section class="mx-7 my-7 shadow mt-1 rounded-md py-10 hidden sm:block bg-gray-200">
    <div class="flex">
      <div class="pr-10 py-4">
        <h2 class="py-2 font-semibold mx-5 text-2xl whitespace-nowrap">
          {{ text_h2 }}
        </h2>
        <a
          class="mx-5 hover:underline transition duration-500 ease-in-out text-lg hover:text-blue-700"
          href="#"
        >
          {{ text_anchor }}
        </a>
      </div>
      <div class="w-full flex justify-center items-center">
        <img class="w-7/12" src="{{ image_text }}" alt="error" />
      </div>
    </div>
  </section>
  
